---
// import { Image } from '@astrojs/image/components'
import { getImage } from '@astrojs/image'
import Input from '@components/Input.svelte'
import Resources from '@components/Resources.svelte'
import Layout from '@layouts/Layout.astro'
// import Layout from '@layouts/Layout.astro'
// import json from '../api/resources.json'

const response = await fetch(import.meta.env.STATIC_API + '/resources.json')
const json = await response.json()

const jsonData = json.data

type ResourceProps = {
  url: string
  title: string
  image: string
  content: string
  createdAt: string
  updatedAt: string
}

const resources = await Promise.all(
  jsonData.map(async (data: ResourceProps) => {
    return {
      ...data,
      image: data.image
        ? await getImage({
            src: data.image,
            width: 400,
            height: 209,
            format: 'avif',
          })
        : data.image,
    }
  }),
)
---

<Layout title="Resources">
  <main class="p-4 sm:p-6">
    <div
      class="bg-gray-50 rounded-lg overflow-hidden shadow-[inset_0_0_0_1px_rgb(255,255,255),0_0_10px_rgba(0,0,0,0.15)]"
    >
      <div
        class="flex items-center rounded-lg overflow-hidden p-4 sm:p-6 gap-4 sm:gap-6"
      >
        <h1 class="text-lg sm:text-xl">Resources</h1>
        <div class="w-[1px] h-[40px] bg-gray-200"></div>
        <Input placeholder="Search" client:load />
      </div>
      <hr class="w-[99%] block mx-auto" />
      <div class="p-2 sm:p-4">
        <Resources resources={resources} client:load />
      </div>
    </div>
  </main>
</Layout>
