<nav
  class="flex fixed bottom-8 w-full mx-auto left-1/2 -translate-x-1/2 justify-center px-8 z-10"
>
  <ul
    class="flex justify-around items-center p-4 space-x-3 sm:space-x-4 rounded-lg w-fit shadow-md z-10 bg-gray-200 bg-opacity-90 backdrop-filter backdrop-blur-sm"
  >
    <li>
      <a rel="prefetch" href="/" aria-label="Home"> Home</a>
    </li>
    <li>
      <a rel="prefetch" href="/blog" aria-label="Blog"> Posts</a>
    </li>
    <!-- <li>
      <a rel="prefetch" href="/snippets" aria-label="Snippets"> Snippets</a>
    </li> -->
    <li>
      <a rel="prefetch" href="/resources" aria-label="Resources"> Resources</a>
    </li>
    <!-- <li>
      <a rel="prefetch" href="/inspiration" aria-label="Inspiration">
        Inspiration
      </a>
    </li> -->
    <!-- <li>
      <a rel="prefetch" href="/music" aria-label="Music"> Music</a>
    </li> -->
  </ul>
</nav>
